<!DOCTYPE html>
<html lang="en" class="hide-scroll">
<head>
    <meta charset="utf-8">
    <title>Welcome to Plushie Store!</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
</head>
<body class="u-body u-xl-mode" data-lang="en">
    <header class="u-clearfix u-header u-header" id="sec-1607">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <a href="https://www.google.com/" class="u-image u-logo u-image-1">
                <img src="//images01.nicepagecdn.com/a1389d7bc73adea1e…9842e056/b78c1c47-c604-4ca8-9934-e25928046c8b.png" class="u-logo-image u-logo-image-1">
            </a>
            <nav class="u-menu u-menu-hamburger u-offcanvas u-menu-1 u-enable-responsive" data-responsive-from="XL">
                <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px; font-weight: 700; text-transform: uppercase;">
                <a class="">
                </a>
                </div>
            </nav>
        </div>

    </header>
</body>